
header{
  background: #2F4F4F;
  color: #FF5F1F;
  text-align: center;


}

h2{
  background: #2F4F4F;
  color: #FF5F1F;
}

body{
  background-image: url(record.png);
  margin: 0;
  padding: 1em;
  overflow: scroll;
  background-color: #b1b5b5;

}
